{{ define "main" }}

<!-- page-title -->
<section class="section bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h4>{{.Title}}</h4>
      </div>
    </div>
  </div>
</section>
<!-- /page-title -->

<!-- search result -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div id="search-results"></div>
        <script id="search-result-template" type="text/x-js-template">
          <div class="py-4 border-bottom" id="summary-${key}">
            <table>
              <tr><td style="vertical-align:top;padding-right:10px;" rowspan="5"><a href="${link}">${ isset image }<img class="lazyload" alt="${title}" style="max-height:150px" data-src="${image}">${ end }</a></td></tr>
              <tr><td><h4><a href="${link}">${title}</a></h4></td></tr>
              <tr><td><p>${snippet}</p></td></tr>
              <tr><td>${ isset tags }<p>Tags: ${tags}</p>${ end }</td></tr>
              <tr><td>${ isset categories }<p>Categories: ${categories}</p>${ end }</td></tr>
            </table>
          </div>
        </script>
      </div>
    </div>
  </div>
</section>
<!-- /search result -->


{{ "<!-- Search index -->" | safeHTML }}
<script>
  var indexURL = {{"index.json" | absURL}}
</script>

{{ end }}